{% extends "dim_dim.jinja2" %}
{% block dim %}user{% endblock %}
{% block data %}{{ dim_user_csv | d(dirs.systasks / "Metrics" / "data" / "dim_user.csv") }}{% endblock %}
{% block buckets %}
        User_Bucket         varchar(32)  not null,
        User_Department     varchar(32),
        User_SubDepartment  varchar(32),
        User_Region         varchar(32),
{% endblock %}
{% block join %}
        select o.UserName
             , o.UserHash
             , coalesce(p.User_Bucket,'Unknown') as User_Bucket
             , coalesce(p.User_Department, 'Unknown') as User_Department
             , coalesce(p.User_SubDepartment, 'Unknown') as User_SubDepartment
             , coalesce(p.User_Region, 'Unknown') as User_Region
             , coalesce(p.Priority,1e6) as Priority_
             , coalesce(p.Pattern_Type,'Equal')  as Pattern_Type
             , coalesce(p.Pattern, o.UserName) as Pattern
             , coalesce(p.SiteID, 'None')        as SiteID_
        from (
           select trim(DatabaseName) as UserName
                , substr(Username,1,3) as first3
                , substr(Username,floor(character_length(Username)/2)-1,3) as middle3
                , substr(Username,character_length(Username)-3,3) as last3
                , trim(cast(from_bytes(hashrow( Username),'base16') as char(9))) ||
                  trim(cast(from_bytes(hashrow( first3  ),'base16') as char(9))) ||
                  trim(cast(from_bytes(hashrow( middle3 ),'base16') as char(9))) ||
                  trim(cast(from_bytes(hashrow( last3   ),'base16') as char(9))) as UserHash
           from dbc.DatabasesV where DBKind = 'U'
        ) as o
{% endblock %}
{% block pkey %}UserName{% endblock %}
