{% macro dim_csv(dim, pi, csv, unique=True) -%}
- name: create dim_{{ dim }} volatile table
  connect: source
  execute:
    sql: |
      create multiset volatile table dim_{{ dim }}, no log (
{{ caller() }}
      ){{' unique' if unique else '' }} primary index({{ pi }}) on commit preserve rows

- name: import data from the CSV file into dim_{{ dim }}
  connect: source
  import:
    file: {{ csv | d("{}/Metrics/data/dim_{}.csv".format(dirs.systasks, dim)) }}
    table: dim_{{ dim }}

- name: collect stats on PI columns of dim_{{ dim }}
  connect: source
  execute:
    sql: collect stats column({{ pi }}) on dim_{{ dim }}

{% endmacro %}
