{% from 'dim_csv.jinja2' import dim_csv with context %}
{% call dim_csv('data_domain', 'db_Pattern,tbl_Pattern', dim_data_domain_csv, unique=False) %}
        SiteID           VARCHAR(20) NOT NULL,
        db_Pattern_Type  VARCHAR(10) NOT NULL,
        db_Pattern       VARCHAR(128) CHARACTER SET UNICODE NOT NULL,
        tbl_Pattern_Type VARCHAR(10) NOT NULL,
        tbl_Pattern      VARCHAR(128) CHARACTER SET UNICODE NOT NULL,
        Subject_Area     VARCHAR(50) NOT NULL,
        Domain_Name      VARCHAR(50) NOT NULL,
        Priority         SMALLINT NOT NULL
{%- endcall %}
