{% extends "dim_dim.jinja2" %}
{% block dim %}statement{% endblock %}
{% block data %}{{ dim_statement_csv | d(dirs.systasks / "Metrics" / "data" / "dim_statement.csv") }}{% endblock %}
{% block buckets %}
        Statement_Bucket   varchar(32)  not null,
        Use_Bucket         varchar(32),
{% endblock %}
{% block join %}
        select o.StatementType
            , coalesce(p.Statement_Bucket,'Unknown') as Statement_Bucket
            , coalesce(p.Priority,1e6) as Priority_
            , coalesce(p.Pattern_Type,'Equal')  as Pattern_Type
            , coalesce(p.Pattern, o.StatementType) as Pattern
            , coalesce(p.SiteID, 'None')        as SiteID_
        from (
            select distinct StatementType
            from {{ dbc.log }}
            where {{ dbc.logdt }} {{ date_range() }}

            union all

            select distinct 'Summary' from {{ dbc.summary }}
            where {{ dbc.logdt }} {{ date_range() }}
        ) as o
{% endblock %}
{% block pkey %}StatementType{% endblock %}
