{% macro sysdb_list() -%}
              (
                'All',
                'console',
                'Crashdumps',
                'dbc%',
                'Default',
                'External_AP',
                'EXTUSER',
                'LockLogShredder',
                'pdcr%',
                'PUBLIC',
                'SQLJ',
                'statsmanager',
                'sys%',
                'TD_SERVER_DB',
                'TD_SYSFNLIB',
                'TD_SYSGPL',
                'TD_SYSXML',
                'TDMaps',
                'TDPUSER',
                'TDQCD',
                'TDStats',
                'tdwm',
                'viewpoint'
              )
{%- endmacro %}
