{% set run = namespace(completed=[]) if run is not defined else run %}
{% if not 'vt_dim_statement' in run.completed %}


- name: Create vt_dim_statement_temp
  connect: source
  execute:
    sql: |
      create multiset volatile table  vt_dim_statement_temp
      (
       Statement_Type  varchar(128) character set LATIN
      ,Statement_Class varchar(128) character set LATIN
      ,Statement_Use15 varchar(128) character set LATIN
      ,Statement_Use12 varchar(128) character set LATIN
      ,Statement_Use9  varchar(128) character set LATIN
      ,Statement_Use6  varchar(128) character set LATIN
      ,Statement_Use3  varchar(128) character set LATIN
      ) no primary index
      on commit preserve rows



{% if transcend_dim_load %}
- name: "TRANSCEND ONLY: insert into vt_dim_statement_temp from Transcend Master (will not work on customer system)"
  connect: source
  execute:
    sql: |
      insert into vt_dim_statement_temp
      select
       Statement_Type
      ,Statement_Class
      ,Statement_Bucket
      ,Statement_Use12
      ,Statement_Use9
      ,Statement_Use6
      ,Statement_Outcome
      from TD_Common_View.Decode_Statement

{% else %}
- name: import metadata into vt_dim_statement_temp
  connect: source
  import:
    file: {{ dim_statement | default (dirs.systasks / "Metrics" / "data" / "dim_statement.csv") }}
    table: vt_dim_statement_temp

{% endif %}


- name: Create vt_dim_statement
  connect: source
  execute:
    sql: |
      create multiset volatile table  vt_dim_statement  as
      (Select
         Statement_Type
        ,Statement_Use15 as Statement_Bucket
        ,case
         when Statement_Use3 = 'Develop/Support' then 'Data Maintenance'
         when Statement_Use3 = 'Load/Transform'  then 'Ingest & Prep'
         when Statement_Use3 = 'Query'  then 'Answers' end as Statement_Outcome
        ,Statement_Class
        ,Statement_Use15
        ,Statement_Use12
        ,Statement_Use9
        ,Statement_Use6
        ,Statement_Use3
        from vt_dim_statement_temp
      ) with data
      no primary index
      on commit preserve rows


- name: Collect Stats vt_dim_statement
  connect: source
  execute:
    sql: collect stats on vt_dim_statement column(Statement_Type)


- name: Drop vt_dim_statement_temp
  connect: source
  execute:
    sql: drop table vt_dim_statement_temp


{% endif %}
{{ run.completed.append('vt_dim_statement') or '' }}
