{% set completed = [] if completed is not defined else completed %}
{% if not 'vt_dbql_core_user' in completed %}

{% set dbql_core_daily = False  %}
{% set dbql_core_hour  = False %}
{% set dbql_core_user  = True %}

{% include "vt_dbql_core.j2" %}


{% endif %}
{{ completed.append('vt_dbql_core_user') or '' }}
