{% set run = namespace(completed=[]) if run is not defined else run %}
{% if not 'vt_dim_statement' in run.completed %}


- name: Create vt_dim_statement
  connect: source
  execute:
    sql: |
      create multiset volatile table  vt_dim_statement
      (Statement_Type     varchar(128)  character set LATIN
      ,Statement_Bucket   varchar(128)  character set LATIN
      ,Statement_Outcome  varchar(128)  character set LATIN
      ,Statement_Class    varchar(16)   character set LATIN
      ) no primary index
      on commit preserve rows

{% if not skip_dim_load %}
- name: import metadata into vt_dim_statement
  connect: source
  import:
    file: {{ dim_statement | default (dirs.systasks / "Metrics" / "data" / "dim_statement.csv") }}
    table: vt_dim_statement
{% endif %}

- name: Collect Stats vt_dim_statement
  connect: source
  execute:
    sql: collect stats on vt_dim_statement column(Statement_Type)

{% endif %}
{{ run.completed.append('vt_dim_statement') or '' }}
