{% set run = namespace(completed=[]) if run is not defined else run %}
{% if not 'vt_dim_tdinternal_databases' in run.completed %}


- name:  Create vt_dim_tdinternal_databases_temp to catch initial file
  connect: source
  execute:
    sql: |
      CREATE MULTISET VOLATILE TABLE vt_dim_tdinternal_databases_temp
      (DatabaseName              varchar(128)  character set latin
      ,DatabaseUse               varchar(128)  character set latin
      ,Exclude_VantageUnit_Flag  byteint
      ,Exclude_Performance_Flag  byteint
      ,Notes            varchar(1024) character set latin
      ) NO PRIMARY INDEX
      ON COMMIT PRESERVE ROWS;


{% if transcend_dim_load %}
- name: "TRANSCEND ONLY: insert into vt_dim_tdinternal_databases from Transcend Master (will not work on customer system)"
  connect: source
  execute:
    sql: |
      insert into vt_dim_tdinternal_databases_temp
      select DatabaseName, DatabaseUse
      ,Exclude_VantageUnit_Flag, Exclude_Performance_Flag, Notes
      from td_common_view.Teradata_Database_Exclusions


{% else %}
- name: import metadata into vt_dim_tdinternal_databases_temp
  connect: source
  import:
    file: {{ dim_tdinternal_databases | default (dirs.systasks / "Metrics" / "data" / "dim_tdinternal_databases.csv") }}
    table: vt_dim_tdinternal_databases_temp
{% endif %}

- name:  Create vt_dim_tdinternal_databases, enriched with system information
  connect: source
  execute:
    sql: |
      create volatile table vt_dim_tdinternal_databases
      as(
          select
           v.DatabaseName
          ,f.DatabaseUse
          ,f.Exclude_VantageUnit_Flag
          ,f.Exclude_Performance_Flag
          ,v.DBKind as DatabaseKind
          ,v.CommentString
          ,f.Notes as Dimension_Notes
          from dbc.DatabasesV v
          join vt_dim_tdinternal_databases_temp f
            on v.DatabaseName = f.DatabaseName
      ) with data no primary index on commit preserve rows

- name: Drop vt_dim_tdinternal_databases_temp
  connect: source
  execute:
    sql: drop table vt_dim_tdinternal_databases_temp

- name: Collect Stats on vt_dim_tdinternal_databases
  connect: source
  execute:
    sql: collect stats on vt_dim_tdinternal_databases column(DatabaseName)

{% endif %}
{{ run.completed.append('vt_dim_tdinternal_databases') or '' }}
