{% set run = namespace(completed=[]) if run is not defined else run %}
{% if not 'vt_dim_datatype' in run.completed %}


- name:  "Create vt_dim_datatype"
  connect: source
  execute:
    sql: |
      create multiset volatile table  vt_dim_datatype
      (DataType       char(2)      character set latin
      ,StorageFormat  varchar(8)   character set latin
      ,DataTypeDesc   varchar(128) character set latin
      ,ColumnCategory varchar(32)  character set latin
      ) no primary index
      on commit preserve rows

{% if not skip_dim_load %}
- name: import metadata into vt_dim_datatype
  connect: source
  import:
    file: {{ dim_datatype | default (dirs.systasks / "Metrics" / "data" / "dim_datatype.csv") }}
    table: vt_dim_datatype
{% endif %}

- name:  "Collect Stats vt_dim_datatype"
  connect: source
  execute:
    sql: collect stats on vt_dim_datatype column(DataType, StorageFormat)

{% endif %}
{{ run.completed.append('vt_dim_datatype') or '' }}
